@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: whitesmoke;
}

.nav {
  width: 100%;
  display: flex;
  background-color: black;

  justify-content: space-between;

  padding: 15px 15px;

  border-bottom: 1px solid rgb(44, 44, 44);

  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
}

#header {
  font-family: "Rochester", cursive;
}

.nav-icons {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.icons {
  color: whitesmoke;
}

/* Images */

.image-wrapper {
  margin-top: 0;
}

.image-header {
  padding: 10px 0px;
  background-color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.image-header-l {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 38%;
  margin-left: 10px;
}

.image-header-l-img img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 3px;
}

.image-header-r {
  margin-right: 10px;
}

.image-footer-bottom .center {
  display: flex;
}
.top {
  padding: 0px 5px;
  font-size: 11px;
  font-family: sans-serif;
}
.center p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 5px;
  font-size: 14px;
  color: rgb(189, 189, 189);
}
.center {
  display: flex;

  align-items: center;
}

.space {
  margin-bottom: 52px;
}

.bottom p {
  margin-top: 5px;
  font-size: 12px;
  padding: 1px 5px;
  color: rgb(90, 90, 90);
}
#caption {
  font-size: 11px;
}

#image-name {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
}
#image-local {
  font-family: sans-serif;
  font-size: 11px;
}

.image-img img {
  width: 100%;
  height: 450px;
  object-fit: contain;
}

/* image footer */
.image-footer-top {
  width: 100%;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 3px;
}

.image-footer-l {
  display: flex;
  flex: 3.5;
  justify-content: space-evenly;
}

.image-footer-c {
  display: flex;
  flex: 4.5;
  justify-content: center;
}

.image-footer-r {
  display: flex;
  flex: 4;
  justify-content: flex-end;
  margin-right: 10px;
}

.image-footer-bottom .center {
  display: flex;
}
.top {
  padding: 0px 5px;
  font-size: 11px;
  font-family: sans-serif;
}
.center p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 5px;
  font-size: 14px;
  color: rgb(189, 189, 189);
}

.bottom p {
  font-size: 12px;
  padding: 1px 5px;
  color: rgb(90, 90, 90);
}
.image-footer-bottom {
  margin-bottom: 20px;
}

/* footer */

.footer {
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: space-around;
  padding: 15px 0px;
  border-top: 1px solid rgba(44, 44, 44);
  position: fixed;
  bottom: 0;
  left: 0;
}
